<div id="user-page">

      <%=button_to 'DELETE ACCOUNT', @user, :method => :delete %>
      <h1>Ready Player: <%= @user.username%></h1><br>

      <h1>Let's Pop Some Letters</h1>

      <div id="emoji-container">

      </div>
      <div id="lines-container">

      <%= render partial: 'lines/form' %>
      <%= render partial: 'lines/list' %>
      </div>
</div>
